<html>
		<script src="js/javs.js"></script>
	<form method="post" action="p_check">
		<%v.each do |pair|%>
				<h2><input type="checkbox" name="pickem" value="<%=pair%>">
				<%=pair%></h2>
		<%end%>
		<input type="submit" value="CZECH">
	</form>

		
</html>
	<!-- <body onload="chiggychek(<%=v%>)">
		<br><br><br><br><br><br><br>	
			
				<input type="hidden" name= "<%=v%>" value="<%=v%>">
					<div id="oof"></div>
					
			</form>
	</body>
</html>
 -->